/* xs */
@media (min-width: 450px) {
    .container-fluid{
        max-width: 450px;
    }
    .container {
        max-width: 450px;
      }
      .navbar .navbar-brand{
        margin-top: -20px;
      }
      .navbar-toggler{
        margin-top: -10px;
      }
      /* hero */

      .subheading-hero{
        font-size: 12px;
        margin-top: 40px;
        margin-left: 15px;
      }
      .heading{
        font-size: 18px;
        margin-left: 15px;

      }
      .textpar{
        font-size: 12px;
        margin-left: 15px;

      }
      #hero{
        height: 100vh;
      }

      .img-hero{
        margin-left: -10px;
        margin-top: 110px;
    }  
        .button-hero{
            width: 150px;
            margin-left: 10px;
        }
        .button-hero p{
            font-size: 12px;
            margin-top: 10px;
        }
        /* reason */
        .card-reason img{
          width: 50%;
          margin-left: 120px;
        }
        /* layanan */
        .col-layanan{
          margin-top: -40px ;
        }
        .fix-layanan p{
          font-size: 15px;
        }
        .subheading-layanan{
          font-size: 16px;
        }
        .text-layanan{
          font-size: 13px;
        }
        .card-layanan{
          margin-left: 2px;
        }

        /* harga */
         .harga-col p{
        font-size: 15px;
      }
      .detail-harga{
        font-size: 13px;
      }
      .harga-col-card{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
      }
     
      /* portfolio */
      
       #portfolio{
        height: 3200px;
       }
       .button-portfolio{
        margin-top: -250px;
       }

       .heading-col-akhir{
        margin-top: -50px;
        margin-bottom: 30px;
       }

       /* footer */
       .footer-contact{
        margin-top: 10px;
       }
       .footer-link{
        margin-left: -100px;
        width: 500px;
       }

}

/* sm */
@media (min-width: 640px) {
    .container-fluid{
        max-width: 640px;
    }
    .container {
        max-width: 640px;
      }
      .img-hero{
        margin-left: -10px;
        margin-top: 60px;
      }  

      .card-reason img{         
          margin-left: 170px;
        }
        .harga-col p{
          font-size: 15px;
        }
        .detail-harga{
          font-size: 15px;
        } #portfolio{
          height: 3750px;
         }
         .button-portfolio{
          margin-top: -350px;
         }
         .footer-link{
          margin-left: -40px;
          width: 300px;
         }
         .col-akhir{
          margin-top: 15px;
         }
     
      
}

/* md */
@media (min-width: 768px) {
    .container-fluid {
        max-width: 768px;
      }
    .container {
        max-width: 768px;
      }
      .img-hero{
        margin-left: -10px;
        margin-top: 20px;
       } 

       .card-reason img{
          width: 50%;
          margin-left: 200px;
        }
        #portfolio{
          height: 1700px;
         }
         .button-portfolio{
          margin-top: -350px;
         }
         .footer-link{
          margin-left: 20px;
          width: 300px;
         }
         .col-akhir{
          margin-top: 15px;
         }
}

@media (min-width: 992px) {
          .container-fluid {
        max-width: 992px;
      }
    .container {
        max-width: 992px;
      }
      .card-reason img{
          width: 100%;
          margin-left: 0px;
        }
        .harga-col-card{
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      .col-layanan{
          margin-top: -80px ;
        }
        #portfolio{
          height: 1000px;
         }
         .footer-link{
          margin-left: -40px;
          width: 300px;
         }
         .col-akhir{
          margin-top: 15px;
         }
}
/* lg */
@media (min-width: 1024px) {
    .container-fluid {
        max-width: 1024px;
      }
    .container {
        max-width: 1024px;
      }
      .navbar .navbar-brand{
        margin-top: -10px;
      }
      .subheading-hero{
        font-size: 15px;
        margin-top: 40px;
        margin-left: 15px;
      }
      .heading{
        font-size: 25px;
        margin-left: 15px;

      }
      .textpar{
        font-size: 12px;
        margin-left: 18px;

      }
      #hero{
        height: 100vh;
      }

      .img-hero{
        margin-left: -10px;
        margin-top: 10px;
    }  
        .button-hero{
            width: 200px;
            margin-left: 10px;
        }
        .button-hero p{
            font-size: 15px;
            margin-top: 7px;
        }
        .card-reason img{
          width: 100%;
          margin-left: 0px;
        }
        .col-akhir{
          margin-top: 15px;
         }
}

/* xl */
@media (min-width: 1280px) {
    .container-fluid {
        max-width: 1280px;
      }
    .container {
        max-width: 1280px;
      }
      .navbar .navbar-brand{
        margin-top: -10px;
      }

      .subheading-hero{
        font-size: 18px;
        margin-top: 40px;
        margin-left: 15px;
      }
      .heading{
        font-size: 30px;
        margin-left: 15px;

      }
      .textpar{
        font-size: 15px;
        margin-left: 18px;

      }
      .fix-layanan p{
          font-size: 16px;
        }
        .subheading-layanan{
          font-size: 20px;
        }
        .text-layanan{
          font-size: 16px;
        }
        .harga-col p{
          font-size: 16px;
        }
        .detail-harga{
          font-size: 16px;
        }
        #portfolio{
          height: 1000px;

         }
         .footer-link{
          margin-left: 40px;
          width: 300px;
         }
         .col-akhir{
          margin-top: 15px;
         }
}


/* 2xl */
@media (min-width: 1536px) {
    .container-fluid {
        max-width: 1536px;
      }
    .container {
        max-width: 1536px;
      }
      .navbar .navbar-brand{
        margin-top: -5px;
      }
      .subheading-hero{
        font-size: 22px;
        margin-top: 40px;
        margin-left: 15px;
      }
      .heading{
        font-size: 34px;
        margin-left: 15px;

      }
      .textpar{
        font-size: 18px;
        margin-left: 18px;

      }
      .fix-layanan p{
          font-size: 18px;
        }
        .harga-col p{
          font-size: 15px;
        }
        .detail-harga{
          font-size: 15px;
        }
        #portfolio{
          height: 1000px;

         }
         /* footer */
         .footer-link{
          margin-left: 80px;
          width: 300px;
         }

}

