:root{
    --pr-color: #2969ff;
    --sc-color: #ff9ce6;
    ---tp-color: #121E3A;
    --ts-color: #8B939F;
    --tw-color: #76d0fa;
    --orange-color: #FF7F00;
}

body{
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
}

.container{
    width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


/* navbar section */
.navbar {
    background-color: var(--pr-color);
    border-radius: 0 0 15px 15px;
    height: 80px;
    z-index: 10;
}
.navbar-collapse.show {
    background: linear-gradient(160deg, var(--pr-color),#fff);    
    margin-top: -10px;
    padding-top: 0px;
    padding-left: 15px;
    max-width: 100%;
    width: 20% !important;
    height: 280px;
    border-radius: 0 0 15px 15px;
  }
.navbar-brand{
    font-weight: 700;
    font-size: 20px;
    color: var(---tp-color);
}

.navbar-brand img{
    height: 90px;
}

.navbar-nav{
    font-weight: 700;
    font-size: 15px;

}

.button-nav{
    width: 100px;
    height: 40px;
    background-color: var(--orange-color);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
}

.button-nav:hover {
    transform: scale(1.1); /* Memperbesar tombol saat dihover */
    cursor: pointer;
    background-color: #fff;
    color: var(--pr-color);
    transition: all ease-in-out 0.3s;
}

/* hero section */

#hero{
    padding-top: 10%;
    background-image: url(../assests/images/wave\ \(2\).png);
    background-size: cover;
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
  background-position:center;
}   

.subheading-hero{
    color: var(--pr-color);
    font-weight: 500;
    font-size: 20px;
}

.heading{
    color: var(---tp-color);
    font-weight: 600;
    font-size: 32px;
}

.heading span{
    color: var(--orange-color);

}

.textpar{
    color: var(---tp-color);
    font-weight: 400px;
    font-size: 15px;
    text-align: start;
}

.button-hero{
    width: 200px;
    height: 40px;
    background-color: var(--pr-color);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
}

.button-hero:hover {
    transform: scale(1.1); /* Memperbesar tombol saat dihover */
    cursor: pointer;
    background-color: var(--orange-color);
    transition: all ease-in-out 0.3s;
}

/* reason section */

#reason{
    padding: 100px 0;;
}

.card-reason{
    background: linear-gradient(160deg, var(--ts-color),#fff);
    border: none

}

.button-reason{
    width: 200px;
    height: 40px;
    background-color: var(--pr-color);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
}

.button-reason:hover {
    transform: scale(1.1); /* Memperbesar tombol saat dihover */
    cursor: pointer;
    background-color: var(--orange-color);
    transition: all ease-in-out 0.3s;

}

/* LAYANAN SECTION */

#layanan{
    padding: 0px 0;
}

#layanan .card{
    width: 300px;
}
.card-layanan{
    border-radius: 15px;
    box-shadow: 0 0 7px 3px rgba(0,0,0, 0.2);
    width: 400px;
    transition: all ease-in-out 0.3s;

}
.layanan-img{
    width: 150px;
}
.subheading-layanan{
    padding-top: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: var(--pr-color);
}

.text-layanan{
    color: var(---tp-color);
    font-weight: 400px;
    font-size: 15px;
    text-align: justify ;
    max-height: 4.2em; /* 3 baris * 1.4em = 4.2em (tinggi maksimal teks) */
    overflow: hidden;
}

.button-layanan{
    width: 200px;
    height: 40px;
    background-color: var(--pr-color);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
}

.button-layanan:hover {
    transform: scale(1.1); /* Memperbesar tombol saat dihover */
    cursor: pointer;
    background-color: var(--orange-color);
    transition: all ease-in-out 0.3s;

}

.card-layanan:hover {
    background: linear-gradient(160deg, var(--pr-color), #fff);
    box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
    transition: all ease-in-out 0.3s;
  }

.card-layanan:hover .subheading-layanan{
    color: #fff;
    transition: all ease-in-out 0.3s;
}

/* harga section */

#harga{
    padding-top: 100px;
}

.card-harga{
    border-radius: 15px;
    max-width: max-content;
    width: 300px;
    border-color: var(--pr-color);
}

.card-harga-bisnis{
    border-radius: 15px;
    border-color: var(--orange-color);
    max-width: max-content;
    width: 300px;

}

.carousel-control-next-icon,
      .carousel-control-prev-icon{
        border-radius: 20px;
        background-color: #2969ff;
        height: 50px;
      }

.heading-harga{
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    background-color: var(--pr-color);
    height: 45px;
    border-radius: 15px 15px 0 0;;

}

.heading-harga-bisnis{
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    background-color: var(--orange-color);
    height: 45px;
    border-radius: 15px 15px 0 0;;

}

.button-harga{
    width: 200px;
    height: 40px;
    background-color: var(--pr-color);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    margin-top: 15px;
}

.button-harga:hover {
    transform: scale(1.1); /* Memperbesar tombol saat dihover */
    cursor: pointer;
    background-color: var(--orange-color);
    transition: all ease-in-out 0.3s;

}
.button-harga-bisnis{
    width: 200px;
    height: 40px;
    background-color: var(--orange-color);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    margin-top: 15px;
}

.button-harga-bisnis:hover {
    transform: scale(1.1); /* Memperbesar tombol saat dihover */
    cursor: pointer;
    background-color: var(--pr-color);
    transition: all ease-in-out 0.3s;

}

.keterangan-harga{
    font-weight: 100;
    font-size: 10px;
    text-align: center;
    font-style: italic;
}

.detail-harga hr{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: -15px;
}

.detail-keterangan{
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
    margin-top: 8px;
}

.card-harga:hover{
    box-shadow: 0 0 7px 3px rgba(0,0,0, 0.2);
    transition: all ease-in-out 0.2s;
}

.card-harga-bisnis:hover{
    box-shadow: 0 0 7px 3px rgba(0,0,0, 0.2);
    transition: all ease-in-out 0.2s;
}

/* carousel */


/* portfolo section */

#portfolio{
    padding: 10px 0;
    height: 140vh;
}

#portfolio .container{
    height: 10px;
}

.img-portfolio{
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    background: linear-gradient(160deg, var(--pr-color),#fff);
}

.col-portfolio h1{
    color: var(---tp-color);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.col-portfolio span{
    color: var(--orange-color);
}

.col-portfolio p{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}

.img-portfolio{
    width: 100%;
    height: 100%;
}

.img-portfolio img{
    margin-top: 10px;
    border-radius: 15px;
    border: 5px;
}
.content-porto h3{
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}

.img-portfolio:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 7px 3px rgba(0,0,0, 0.2);
    transition: all ease-in-out 0.3s;
    border-radius: 15px;
    
}

.button-portfolio{
    width: 200px;
    height: 40px;
    background-color: var(--pr-color);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    margin-top: 15px;
}
.button-portfolio:hover{

    transform: scale(1.1); /* Memperbesar tombol saat dihover */
    cursor: pointer;
    background-color: var(--orange-color);
    transition: all ease-in-out 0.3s;
}

.button-akhir{
    width: 400px;
    height: 40px;
    background-color: var(--pr-color);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    margin-top: 15px;
}

.button-akhir:hover{

    transform: scale(1.1); /* Memperbesar tombol saat dihover */
    cursor: pointer;
    background-color: var(--orange-color);
    transition: all ease-in-out 0.3s;
}

/* footersectiopn */

#footer{
    background-color: var(--pr-color);
}

.footer-section1{
    height: 45px;
    padding-top: 10px;
}

.footer-contact h4{
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

.footer-sosmed i{
    color: #fff;
}

.footer-link h3{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
}

.footer-linktext p{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 12px;
    text-decoration-line: underline;
    text-decoration-color: #fff;
}

.footer-linktext p:hover{
    color: var(--orange-color);
    transition: all ease-in-out 0.2s;
}

.footer-end{
    margin-left: 100px;
}
